
div {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/images/bg-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 471px) {
    background-image: url(assets/images/bg-desktop.png);
  }
}