/* ************************ * 
 *      DEFAULT BUTTONS     *
 * ************************ */
// Button default
.btn {
  display: inline-block;
  padding: .5rem .8rem;
  margin: .2rem;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 6px 9px -5px rgba(0, 0, 0, 0.75);

  &:focus { outline: none; }
  &:disabled { 
    background: #aaa; 
    border: #666;
    cursor: not-allowed;
  }
}

// Button color primary
.btn-primary {
  background: map-get($colors, primary);
  color: #fff;
  border: 1px solid darken(map-get($colors, primary), 10%);

  &:hover { background: lighten(map-get($colors, primary), 5%); }
  &:active { background: darken(map-get($colors, primary), 10%); }
}

// Button color danger
.btn-danger {
  background: map-get($colors, danger);
  color: #fff;
  border: 1px solid darken(map-get($colors, danger), 10%);

  &:hover { background: lighten(map-get($colors, danger), 5%); }
  &:active { background: darken(map-get($colors, danger), 10%); }
}

// Button color warn
.btn-warn {
  background: map-get($colors, warn);
  color: #fff;
  border: 1px solid darken(map-get($colors, warn), 10%);

  &:hover { background: lighten(map-get($colors, warn), 5%); }
  &:active { background: darken(map-get($colors, warn), 10%); }
}

// Button color success
.btn-success {
  background: map-get($colors, success);
  color: #fff;
  border: 1px solid darken(map-get($colors, success), 10%);

  &:hover { background: lighten(map-get($colors, success), 5%); }
  &:active { background: darken(map-get($colors, success), 10%); }
}

// Button color Info
.btn-info {
  background: map-get($colors, info);
  color: #fff;
  border: 1px solid darken(map-get($colors, info), 10%);

  &:hover { background: lighten(map-get($colors, info), 5%); }
  &:active { background: darken(map-get($colors, info), 10%); }
}

/* ************************ * 
 *       OTHER BUTTONS      *
 * ************************ */