@import "../../../theme/variables";

header {
  position: fixed;
  margin: 0;
  height: 70px;
  width: 100%;
  background: map-get($colors, primary);
  box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.75);
  border-radius: 0 0 10px 10px;
  z-index: 9999;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    div:first-of-type {
      margin-left: 1rem;
      width: 50px;
      height: 50px;
      background-image: url(../../../assets/images/logo.png);
      background-color: map-get($colors, primary);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    div:last-of-type {
      margin-right: 1rem;
    }
  }
}
