<header class="animated fadeInDown">
  <div class="navbar">
    <div class="animated fadeInDownBig"></div>
    <div> <app-search></app-search> </div>
    <div> <app-menu></app-menu> </div>
  </div>
</header>
