@import '../../../theme/variables';

nav {
  position: fixed;
  background-color: map-get($colors, primary);
  height: 100vh;
  width: 250px;
  z-index: 9998;
  box-shadow: 18px 0px 23px -11px rgba(0, 0, 0, 0.75);
  
  // Profile
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background: #333;
    border-radius: 0 0 10% 10%;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
  
      div:first-of-type {
        img {
          height: 60px;
          width: 60px;
          border-radius: 15px 15px 15px 15px;
          border: 2px solid #555;
        }
      }
  
      div:last-of-type {
        span {
          color: #fff;
          font-weight: 600;
          margin-top: .5rem;
          font-size: 1rem;
  
          i {
            margin: 0 .3rem;
            color: map-get($colors, warn);
          }
        }
  
        span:last-of-type {
          margin-left: .5rem;
        }
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
    }

  }

  // Menu
  ul {
    margin-top: 1rem;

    li {
      display: block;
      width: 100%;
      height: 50px;
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #ccc;
        font-weight: 600;
        cursor: pointer;
        transition: .5s ease;
        text-decoration: none;

        &:hover {
          span:first-of-type {
            i { color: map-get($colors, info); }
          }

          span:last-of-type {
            margin-right: .5rem;
            color: map-get($colors, info);
          }
        }

        &:active {
          background: #bbb;
        }

        span:first-of-type {
          margin-left: 1rem;

          i { margin-right: .5rem; }
        }

        span:last-of-type {
          transition: .5s ease;
          margin-right: 1rem;
        }
      }
    }

    .active {
      color: #fff !important;
      background-color: rgba(0, 0, 0, .13);

      span:first-of-type {
        i { color: map-get($colors, info); }
      }

      span:last-of-type {
        margin-right: .5rem;
        color: map-get($colors, info);
      }
    }
  }

  // Footer
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    ul {
      li {
        display: flex;
        align-items: center;
      }

      li:first-of-type {
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #ccc;
          font-weight: 600;
          cursor: pointer;
          transition: .5s ease;
  
          &:hover {
            span:first-of-type {
              i { color: map-get($colors, info); }
            }

            span:last-of-type {
              margin-right: .5rem;
              color: map-get($colors, info);
            }
          }
  
          &:active {
            background: #bbb;
          }
  
          span:first-of-type {
            margin-left: 1rem;
  
            i { margin-right: .5rem; }
          }
  
          span:last-of-type {
            transition: .5s ease;
            margin-right: 1rem;
          }
        }
      }

      li:last-of-type {
        justify-content: center;
        color: #fff;
        font-size: .5rem;

        i { margin-right: .3rem; font-size: .6rem; }
      }
    }
  }
}
