<nav class="animated"
           *ngIf="_sidebar.isStatus()"
           [ngClass]="{
                        'fadeInLeftBig': _sidebar.isStatus() === 'show',
                        'fadeOutLeftBig': _sidebar.isStatus() === 'hidden'
                      }">
  <section>
    <div>
      <div>
        <img src="./assets/images/logo.png">
      </div>
  
      <div>
        <span> Matias1305 </span>
        <span>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
        </span>
      </div>
    </div>

    <div>
      <button class="btn btn-primary" (click)="navigate('/perfil')"> Ver más </button>
    </div>
  </section>

  <ul>
    <li *ngFor="let item of _sidebar.getMenu()">
       <a (click)="navigate(item.link)" [ngClass]="{'active': item.active}"> 
         <span> <i [class]="item.icon"></i> {{ item.name }} </span>
         <span> <i class="fas fa-chevron-right"></i> 
        </span> 
      </a>
    </li>
  </ul>

  <footer>
    <ul>
      <li>
        <a> 
          <span> <i class="fas fa-sign-out-alt"></i> Cerrar sesión </span>
          <span> <i class="fas fa-chevron-right"></i> </span> 
        </a>
      </li>
      <li> <i class="far fa-copyright"></i> Social Game v1.0.0 </li>
    </ul>
  </footer>
</nav>