

section {
  display: grid;
  height: calc(100vh - 100px);
  grid-gap: .5rem;
  grid-template-areas: 
    "games games"
    "recents recents"
    "populars populars"
  ;

  article:nth-child(1) {
    background: darkkhaki;
    grid-area: games;
  }

  article:nth-child(2) {
    background: darkorchid;
    grid-area: recents;
  }

  article:nth-child(3) {
    background: deeppink;
    grid-area: populars;
  }
}