.btn-search {
  background-color: transparent;
  border-radius: 100%;
  font-weight: 800;
  border: none;
  box-shadow: none;
  font-size: 1.5rem;
  color: #ddd;

  &:focus {
    outline: none;
  }
}

form {
  background: #fff;
  border-radius: 5px;

  button {
    display: inline-block;
    width: 30px;
    font-size: 1rem;
    
    &:focus {
      outline: none;
    }
  }

  button:first-of-type {
    border-radius: 5px 0 0 5px;
    cursor: auto;
  }

  button:last-of-type {
    border-radius: 0 5px 5px 0;

    i {
      &:hover { color: red; }
    }
  }
 
  button,
  input[type=text] {
    height: 30px;
    background: #fff;
    border: none;
  }

  input[type=text] {
    width: 110px;

    &:focus {
      outline: none;
    }
  }
}