

<ng-container *ngIf="!_search.isStatus(); else SearchInput;">
  <button class="btn btn-search animated fadeInDown" 
          (click)="_search.toggle()">
    <i class="fas fa-search"></i>
  </button>
</ng-container>

<ng-template #SearchInput>
  <form class="animated fadeInDown">
    <button disabled> <i class="fa fa-search"></i> </button>
    <input type="text">
    <button (click)="_search.toggle()">
      <i class="fas fa-times-circle"></i>
    </button>
  </form>
</ng-template>