@import '../../../theme/variables';

button {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #fff;
  transition: .5s ease;
  background: transparent;
  border: none;
  border-radius: 100%;

  &:focus {
    outline: none;
  }

  &:active {
    background: rgba(255, 255, 255, 0.4);
  }
}